@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
    /*font-family: 'Red Hat Display', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;

}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}




.transitionDiv {
  max-width:100%;
  max-height: 800px;
  overflow-y: hidden;
  transition: max-height 0.8s linear;
}


@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* .errormessage {
  visibility: hidden;
}

[aria-invalid="true"] {
  outline: 2px solid red;
}

[aria-invalid="true"] ~ .errormessage {
  visibility: visible;
} */