@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
    /*font-family: 'Red Hat Display', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;

}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}


.accordion-content {
  transition: max-height 0.6s ease-out, padding 0.6s ease;
}